body{
    background-color:rgb(14, 13, 13);
    font-family: Arial, sans-serif;
    margin-left:80px;
    margin-right:100px;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    color:rgb(188, 163, 163);
    
}
title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:30px;
}

.button-int{
    border-radius: 40px;
    border-width: solid 1px;
    background-color: red;
    margin-top:10px;
    margin-left: 40px;
    margin-bottom:10px;
    color: white;
    font-size:18px;
    width: 150px;
    padding:10px 30px 10px 30px;
    cursor:pointer;
    transition: background-color 0.15s linear,padding 0.15s,opacity 0.15s;

}
.button-int:hover{
    background-color: blue;
            }

input{
    margin-left:40px;
    margin-right:40px;
    border-radius: 50px;
    border-width: bold 1px;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    width: 300px;
    height: 30px;
    background-color:white;
    color: black;
    vertical-align: center;
    text-align: center;
    padding:10px,16px,10px,10px;
}