
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/index.css">

    <meta charset="UTF-8">
    <title>Welcome to mank </title>
    
</head>
<body>
    <h1>diagnosis problems city</h1>
    <form method="POST" action="/predict">
        <label for="radius">Radius:</label>
        <input tcenter;"text" id="radius"  name="radius" required><br><br>
        
        <label for="texture">Texture:</label>
        <input type="text" id="texture" name="texture" required><br><br>
        
        <label for="perimeter">Perimeter:</label>
        <input type="text" id="perimeter" name="perimeter" required><br><br>
        
        <label for="area">Area:</label>
        <input type="text" id="area" name="area" required><br><br>
        
        <label for="smoothness">Smoothness:</label>
        <input type="text" id="smoothness" name="smoothness" required><br><br>
        
        <label for="compactness">Compactness:</label>
        <input type="text" id="compactness" name="compactness" required><br><br>
        
        <label for="concavity">Concavity:</label>
        <input type="text" id="concavity" name="concavity" required><br><br>
        
        <label for="concave">Concave:</label>
        <input type="text" id="concave" name="concave" required><br><br>
        
        <label for="symmetry">Symmetry:</label>
        <input type="text" id="symmetry" name="symmetry" required><br><br>
        
        <label for="fractal">Fractal:</label>
        <input type="text" id="fractal" name="fractal" required><br><br>
        
        <button class="button-int" type="submit">Predict</button>
    </form>
    
    {% if prediction_text %}
        <h2>Prediction in city male 1 or female 0: {{ prediction_text }}</h2>
    {% endif %}
</body>
</html>
